Salta_Restaurant.json
{
  "name": "Salta's Resturant",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Stock Was Updated ✅\nStock Now:- \nID : {{ $json.ID }}\nName : {{ $json.Name }}\nQuantity : {{ $json.Qauntity }} - {{ $json.Unit }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        32
      ],
      "id": "your id",
      "name": "Send a text message",
      "webhookId": "your id",
      "credentials": {
        "telegramApi": {
          "id": "your id",
          "name": "stock Acount"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -992,
        208
      ],
      "id": "your id",
      "name": "Telegram Trigger",
      "webhookId": "your id",
      "credentials": {
        "telegramApi": {
          "id": "your id",
          "name": "stock Acount"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $input.first().json.message.text;\n\nconst match = message.match(/^(\\d+)\\s*(.+)$/);\n\nif (match) {\n  const quantity = Number(match[1]);\n\n  let item = match[2].trim();\n\n  // أول حرف Capital والباقي Small\n  item = item\n  .toLowerCase()\n  .replace(/\\b\\w/g, char => char.toUpperCase());\n\n  return [\n    {\n      json: {\n        quantity,\n        item\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        error: \"Invalid format\"\n      }\n    }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        304
      ],
      "id": "your id",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "salta's sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Code in JavaScript').item.json.item }}",
            "Qauntity": "={{ $json.Qauntity +$('Code in JavaScript').item.json.quantity}}",
            "ID": "={{ $json.ID }}",
            "Unit": "={{ $json.Unit }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUR_ID",
              "displayName": "Qauntity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unit",
              "displayName": "Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YOUR_ID",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        320
      ],
      "id": "YOUR_ID",
      "name": "Update row in stock",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "salta's sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name",
              "lookupValue": "={{ $json.item }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        320
      ],
      "id": "your id",
      "name": "Get row(s) in stock",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "your id",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "salta's sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": 1709932173,
          "mode": "list",
          "cachedResultName": "counters",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "orders_ID": "={{ $json.orders_ID +1 }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "YOUR_ID",
              "displayName": "orders_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YOUR_ID",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -336,
        -304
      ],
      "id": "your id",
      "name": "increase counter of order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "your id",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "salta's sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": 2099437928,
          "mode": "list",
          "cachedResultName": "orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.orders_ID }}",
            "C_Name": "={{ $('order forms').item.json.Name }}",
            "Date": "={{ $('order forms').item.json.submittedAt }}",
            "Table": "={{ $('order forms').item.json.Table }}",
            "Order": "={{ $('order forms').item.json.Burgers }} & {{ $('order forms').item.json.Pizza }}",
            "Status": "in kitchen"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "C_Name",
              "displayName": "C_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Table",
              "displayName": "Table",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order",
              "displayName": "Order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -336,
        -112
      ],
      "id": "your id",
      "name": "add new order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "your id",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "your id",
        "text": "=New Order!!\nID : {{ $json.ID }}\nSeat : {{ $json.Table }}\nCustomer : {{ $json.C_Name }}\nDate : {{ $json.Date }}\nOrder :-\n{{ $json.Order }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -144,
        -160
      ],
      "id": "your id",
      "name": "spong notfication",
      "webhookId": "your id",
      "credentials": {
        "telegramApi": {
          "id": "your id",
          "name": "spong bot"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Order's Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Your Name"
            },
            {
              "fieldLabel": "Table",
              "fieldType": "number",
              "placeholder": "Enter your Table Number"
            },
            {
              "fieldLabel": "Burgers",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Burger With Cheese"
                  },
                  {
                    "option": "Burger with meat"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Pizza",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Pizaa_ peprony"
                  },
                  {
                    "option": "pizaa with meet"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -944,
        -320
      ],
      "id": "your id",
      "name": "order forms",
      "webhookId": "your id"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('code for each thing').item.json.status }}",
                    "rightValue": "Done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "YOUR_ID"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Done"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_ID",
                    "leftValue": "={{ $('code for each thing').item.json.status }}",
                    "rightValue": "Cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -32,
        -608
      ],
      "id": "YOUR_ID",
      "name": "Switch"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -928,
        -592
      ],
      "id": "YOUR_ID",
      "name": "spong responde",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_ID",
          "name": "spong bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message =$input.first().json.message.text;\n\nconst match = message.match(/^(\\d+)\\s*(.+)$/);\n\nif (match) {\n  const ID = Number(match[1]);\n\n  let status = match[2].trim();\n\n  // أول حرف Capital والباقي Small\n  status = status\n  .toLowerCase()\n  .replace(/\\b\\w/g, char => char.toUpperCase());\n\n  return [\n    {\n      json: {\n        ID,\n        status\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        error: \"Invalid format\"\n      }\n    }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        -592
      ],
      "id": "YOUR_ID",
      "name": "code for each thing"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "salta's sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": 2099437928,
          "mode": "list",
          "cachedResultName": "orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('code for each thing').item.json.ID }}",
            "Status": "={{ $('code for each thing').item.json.status }}",
            "C_Name": "="
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "C_Name",
              "displayName": "C_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Table",
              "displayName": "Table",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Order",
              "displayName": "Order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUR_ID",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -656
      ],
      "id": "YOUR_ID",
      "name": "Update row in stock1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "salta's sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": 2099437928,
          "mode": "list",
          "cachedResultName": "orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('code for each thing').item.json.ID }}",
            "Status": "={{ $('code for each thing').item.json.status }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "C_Name",
              "displayName": "C_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Table",
              "displayName": "Table",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Order",
              "displayName": "Order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUR_ID",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -448
      ],
      "id": "YOUR_ID",
      "name": "Update row in stock2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "salta's sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": 1709932173,
          "mode": "list",
          "cachedResultName": "counters",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -672,
        -288
      ],
      "id": "YOUR_ID",
      "name": "ID OF Order Now",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('code for each thing').item.json.ID }}",
                    "rightValue": "={{ $json.orders_ID }}",
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    },
                    "id": "YOUR_ID"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "={{ true }}",
              "outputKey": "Yes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_ID",
                    "leftValue": "={{ $('code for each thing').item.json.ID }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -320,
        -576
      ],
      "id": "YOUR_ID",
      "name": "checking number of order"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "salta's sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": 1709932173,
          "mode": "list",
          "cachedResultName": "counters",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        -592
      ],
      "id": "YOUR_ID",
      "name": "ID OF Order Now1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('spong responde').item.json.message.chat.id }}",
        "text": "Sorry, This Number of order is Wrong ❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        -400
      ],
      "id": "YOUR_ID",
      "name": "Send a text message1",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_ID",
          "name": "spong bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "YOUR_ID"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_ID",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -832,
        240
      ],
      "id": "YOUR_ID",
      "name": "Switch1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "salta's sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        96
      ],
      "id": "YOUR_ID",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get row(s) in stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in stock": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in stock2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in stock": {
      "main": [
        [
          {
            "node": "Update row in stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "increase counter of order": {
      "main": [
        []
      ]
    },
    "spong notfication": {
      "main": [
        []
      ]
    },
    "order forms": {
      "main": [
        [
          {
            "node": "ID OF Order Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add new order": {
      "main": [
        [
          {
            "node": "spong notfication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "spong responde": {
      "main": [
        [
          {
            "node": "code for each thing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code for each thing": {
      "main": [
        [
          {
            "node": "ID OF Order Now1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update row in stock1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in stock2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID OF Order Now": {
      "main": [
        [
          {
            "node": "add new order",
            "type": "main",
            "index": 0
          },
          {
            "node": "increase counter of order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checking number of order": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID OF Order Now1": {
      "main": [
        [
          {
            "node": "checking number of order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8e7ae1eb-21b5-45c0-ae5e-6d6e85703e73",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "YOUR_ID",
  "tags": []
}